@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}



#my-user {
    text-align: right;
}

/* main content */

.btn {
    color: #fff;
    background-color: #0000ff;
    width: 150px;
    height: 40px;
    text-align: center;

    font-size: 15px;

    border-radius: 5px 5px 5px 5px;
}


#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

details {
    text-align: right;
}
