.hidden-print {
  display: none !important;
}


/* ここから、オリジナルレイアウトを入力します。 */
h1 {
  width: 970px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  margin-top: 30px;
  text-align: center;
}
